* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}

:root {
  scroll-behavior: unset !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: unset !important;
}

body {
  overflow-x: hidden;
  scroll-behavior: unset !important;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  padding: 1.5rem 2.5rem;
  color: #fff;
}
header .fa-bars {
  z-index: 666;
  font-size: 3rem;
  cursor: pointer;
}
header .logo {
  color: #fff;
  font-size: 2rem;
}
header .logo i {
  padding: 0 0.5rem;
}
header .logo h1 {
  display: inline;
}
header .search-box .fa-shopping-cart {
  font-size: 2rem;
  cursor: pointer;
}
header .search-box .search-containt {
  position: relative;
  display: inline;
}
header .search-box .search-containt #search-input {
  position: absolute;
  top: -1.5rem;
  right: 0.8rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 5rem;
  box-shadow: 0.2px 0.4px 5px #eb4d4b;
}
header .search-box .search-containt #search-input:hover, header .search-box .search-containt #search-input:focus {
  width: 25rem;
}
header .search-box .search-containt .fa-search {
  position: absolute;
  top: -0.7rem;
  left: -3.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  color: #333;
}
header .search-box .search-containt .fa-search:hover ~ #search-input {
  width: 25rem;
}
header .navbar {
  top: 0px;
  left: 0px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
  display: none;
}
header .navbar ul {
  height: 100%;
  width: 35rem;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
header .navbar ul li {
  margin: 0.5rem 0;
}
header .navbar ul li a {
  display: block;
  height: 4rem;
  width: 25rem;
  background: #fff;
  color: #333;
  border-radius: 5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
}
header .navbar ul li a:hover {
  background: #EB4D4B;
  letter-spacing: 0.3rem;
  color: #fff;
}

.home-slider,
#home {
  height: 100vh;
  width: 105%;
  background-color: #333;
}
.home-slider .slid,
#home .slid {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.home-slider .slid .slid-contant,
#home .slid .slid-contant {
  padding-left: 2.5rem;
}
.home-slider .slid .slid-contant h1,
#home .slid .slid-contant h1 {
  font-size: 4rem;
}
.home-slider .slid .slid-contant p,
#home .slid .slid-contant p {
  font-size: 1.7rem;
}
.home-slider .slid .slid-contant .stars,
#home .slid .slid-contant .stars {
  margin: 1rem;
}
.home-slider .slid .slid-contant .stars i,
#home .slid .slid-contant .stars i {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: gold;
}
.home-slider .slid .slid-contant .price,
#home .slid .slid-contant .price {
  font-size: 3.5rem;
  color: #eb4d4b;
  padding-left: 0.6rem;
}
.home-slider .slid .imge img,
#home .slid .imge img {
  width: 40vw;
}
.home-slider .slid button,
#home .slid button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834d4;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
}
.home-slider .slid button:hover,
#home .slid button:hover {
  background: #EB4D4B;
  letter-spacing: 0.1rem;
}
.home-slider .owl-nav .owl-next,
#home .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
  right: 4rem;
}
.home-slider .owl-nav .owl-prev,
#home .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
  left: 2rem;
}
.home-slider .owl-dots,
#home .owl-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: #EB4D4B;
}
.home-slider .owl-dots .owl-dot,
#home .owl-dots .owl-dot {
  border: none;
  outline: none;
  color: #eb4d4b !important;
}
.home-slider .owl-dots .owl-dot:hover span,
#home .owl-dots .owl-dot:hover span {
  background: #eb4d4b !important;
}
.home-slider .owl-dots .active span,
#home .owl-dots .active span {
  background: #eb4d4b !important;
}

.product {
  flex-flow: column;
  width: 100vw;
  justify-content: center;
  margin-bottom: 6rem;
}
.product .heading {
  color: #4834d4;
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  margin: 2rem 0;
  position: relative;
}
.product .heading::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 0.3rem;
  background: #eb4d4b;
}
.product .product-container {
  width: 90%;
}
.product .product-container .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
  right: -1.5rem;
}
.product .product-container .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
  left: -2rem;
}
.product .product-container .title {
  font-size: 3rem;
  color: #eb4d4b;
  margin-top: 5rem;
  margin-left: 6rem;
}
.product .product-container .product-slider .owl-dots .owl-dot:hover span, .product .product-container #product-slider .owl-dots .owl-dot:hover span {
  background-color: #eb4d4b;
}
.product .product-container .product-slider .owl-dots .active span, .product .product-container #product-slider .owl-dots .active span {
  background: #eb4d4b !important;
}
.product .product-container .product-slider .product-card, .product .product-container #product-slider .product-card {
  height: 40rem;
  width: 30rem;
  margin: 2rem auto;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
}
.product .product-container .product-slider .product-card .image, .product .product-container #product-slider .product-card .image {
  height: 75%;
  width: 100%;
}
.product .product-container .product-slider .product-card .image img, .product .product-container #product-slider .product-card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product .product-container .product-slider .product-card .contant, .product .product-container #product-slider .product-card .contant {
  height: 25%;
  width: 100%;
  text-align: center;
}
.product .product-container .product-slider .product-card .contant h3, .product .product-container #product-slider .product-card .contant h3 {
  font-size: 3rem;
  color: #4834d4;
}
.product .product-container .product-slider .product-card .contant .stars i, .product .product-container #product-slider .product-card .contant .stars i {
  color: gold;
  font-size: 1.7rem;
}
.product .product-container .product-slider .product-card .contant .price, .product .product-container #product-slider .product-card .contant .price {
  font-size: 3rem;
  color: #eb4d4b;
}
.product .product-container .product-slider .product-card .info, .product .product-container #product-slider .product-card .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 2rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  transition: all 1s;
  color: #fff;
  transform: scale(0);
}
.product .product-container .product-slider .product-card .info h4, .product .product-container #product-slider .product-card .info h4 {
  font-size: 4rem;
}
.product .product-container .product-slider .product-card .info p, .product .product-container #product-slider .product-card .info p {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: #ccc;
  text-align: center;
}
.product .product-container .product-slider .product-card .info button, .product .product-container #product-slider .product-card .info button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834d4;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  margin-top: 1rem;
  background-color: #eb4d4b;
}
.product .product-container .product-slider .product-card .info button:hover, .product .product-container #product-slider .product-card .info button:hover {
  background: #EB4D4B;
  letter-spacing: 0.1rem;
}
.product .product-container .product-slider .product-card .info button:hover, .product .product-container #product-slider .product-card .info button:hover {
  background-color: #4834d4;
}
.product .product-container .product-slider .product-card .info .share, .product .product-container #product-slider .product-card .info .share {
  margin-top: 4rem;
}
.product .product-container .product-slider .product-card .info .share a, .product .product-container #product-slider .product-card .info .share a {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #fff;
  color: #eb4d4b;
  margin: 0 0.5rem;
  border-radius: 5rem;
}
.product .product-container .product-slider .product-card .info .share a:hover, .product .product-container #product-slider .product-card .info .share a:hover {
  text-decoration: none;
  background: #eb4d4b;
  color: #fff;
}
.product .product-container .product-slider .product-card:hover .info, .product .product-container #product-slider .product-card:hover .info {
  transform: scale(1);
}

.review, #review {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: url(../imges/background.jpg), linear-gradient(#4834D4, #4834D4) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
  position: relative;
}
.review .heading, #review .heading {
  color: #4834d4;
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  margin: 2rem 0;
  position: relative;
  padding-top: 4rem;
  margin-bottom: -2rem;
  color: #eb4d4b;
}
.review .heading::after, #review .heading::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 0.3rem;
  background: #eb4d4b;
}
.review .heading::after, #review .heading::after {
  background-color: #fff;
}
.review .box-container, #review .box-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review .box-container .review-slider .box-item, #review .box-container .review-slider .box-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review .box-container .review-slider .box-item .image, #review .box-container .review-slider .box-item .image {
  margin-top: -5rem;
  margin-left: 1.5rem;
}
.review .box-container .review-slider .box-item .image img, #review .box-container .review-slider .box-item .image img {
  height: 10rem;
  width: 10rem;
  border-radius: 50% 50% 50% 0%;
  border: 0.4rem solid #eb4d4b;
}
.review .box-container .review-slider .box-item .comment, #review .box-container .review-slider .box-item .comment {
  height: 20rem;
  width: 45rem;
  background: #fff;
  border-radius: 2% 2% 0% 40%;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
.review .box-container .review-slider .box-item .comment p, #review .box-container .review-slider .box-item .comment p {
  color: #333;
  font-size: 1.6rem;
  padding: 2rem;
}
.review .box-container .review-slider .box-item .comment p i, #review .box-container .review-slider .box-item .comment p i {
  color: #EB4D4B;
  font-size: 2rem;
  padding: 0rem 0.5rem;
}
.review .box-container .review-slider .box-item .comment h3, #review .box-container .review-slider .box-item .comment h3 {
  text-align: end;
  color: #EB4D4B;
  margin: 0.5rem 2rem;
  font-size: 2.5rem;
}

#offer, .offer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}
#offer .heading, .offer .heading {
  color: #4834d4;
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  margin: 2rem 0;
  position: relative;
  margin: 5rem auto;
}
#offer .heading::after, .offer .heading::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 0.3rem;
  background: #eb4d4b;
}
#offer .box, .offer .box {
  height: 25rem;
  width: 30rem;
  text-align: center;
  margin: 2rem;
}
#offer .box img, .offer .box img {
  height: 20rem;
  width: 30rem;
}
#offer .box h3, .offer .box h3 {
  color: #EB4D4B;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.deal {
  background: url(../imges/deal.webp), linear-gradient(#4834D4, #4834D4) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
  padding: 5rem 0;
  margin-top: 20rem;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: skewY(-10deg);
}
.deal .content {
  text-align: center;
  transform: skewY(10deg);
  margin-top: 6rem;
}
.deal .content h4 {
  font-size: 4rem;
  color: #4834d4;
  padding-top: 3rem;
}
.deal .content p {
  color: #333;
  font-size: 1.6rem;
  padding: 1rem;
}
.deal .content p i {
  color: #EB4D4B;
  font-size: 2rem;
  padding: 0rem 0.5rem;
}
.deal .content .stars {
  margin: 1rem;
}
.deal .content .stars i {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: gold;
}
.deal .content .price {
  font-size: 3.5rem;
  color: #eb4d4b;
  padding-left: 0.6rem;
}
.deal .content button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834d4;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  margin-bottom: 5rem;
}
.deal .content button:hover {
  background: #EB4D4B;
  letter-spacing: 0.1rem;
}
.deal .image {
  transform: skewY(10deg);
}
.deal .image img {
  height: 60vh;
}

.brand {
  height: 90vh;
  display: flex;
  align-items: center;
}
.brand .owl-carousel .owl-item img {
  height: 12rem;
  width: 12rem;
  margin: 4rem auto;
}
.brand .brand-slider .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #EB4D4B;
}
.brand .brand-slider .owl-dots .owl-dot {
  border: none;
  outline: none;
  color: #eb4d4b !important;
}
.brand .brand-slider .owl-dots .owl-dot:hover span {
  background: #eb4d4b !important;
}
.brand .brand-slider .owl-dots .active span {
  background: #eb4d4b !important;
}

.newsletter {
  width: 100vw;
  background: rgba(0, 0, 255, 0.1411764706);
  padding: 6rem 0;
  text-align: center;
  height: 60vh;
  padding-bottom: 5rem;
}
.newsletter h1 {
  font-size: 6rem;
  color: #fff;
}
.newsletter p {
  font-size: 2.5rem;
  color: #f9f9f9;
  margin: 2rem auto;
}
.newsletter input[type=text] {
  outline: none;
  border: none;
  background: rgb(54, 51, 51);
  color: #fff;
  height: 4rem;
  width: 24rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.newsletter input[type=submit] {
  display: inline;
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834d4;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  margin-top: 2rem;
  background-color: #eb4d4b;
}
.newsletter input[type=submit]:hover {
  background: #EB4D4B;
  letter-spacing: 0.1rem;
}
.newsletter input[type=submit]:hover {
  background-color: #333;
}

#footer {
  padding: 4rem 0;
  background: #333;
  width: 100vw;
}
#footer .row {
  width: 100%;
  margin: 0;
}
#footer .brand-info {
  margin: 1rem;
  padding: 0;
  margin-bottom: 4rem;
}
#footer .brand-info a {
  color: #fff;
}
#footer .brand-info a i {
  padding: 0 0.5rem;
  font-size: 2rem;
}
#footer .brand-info a h3 {
  display: inline;
  font-size: 2rem;
}
#footer .brand-info p {
  color: #ccc;
  padding: 2rem;
  margin: 0;
  font-size: 1.5rem;
}
#footer .links {
  padding: 0;
  margin: 1rem;
}
#footer .links h3 {
  font-size: 2rem;
  color: #fff;
}
#footer .links .nav-links {
  display: flex;
  flex-flow: column;
}
#footer .links .nav-links a {
  color: #ccc;
  font-size: 1.5rem;
}
#footer .links .nav-links a:hover {
  color: #eb4d4b;
}
#footer .follow-us {
  padding: 0;
  margin: 1rem;
}
#footer .follow-us h3 {
  font-size: 2rem;
  color: #fff;
}
#footer .follow-us .follow-us-links {
  display: flex;
  flex-flow: column;
}
#footer .follow-us .follow-us-links a {
  color: #ccc;
  font-size: 1.5rem;
}
#footer .follow-us .follow-us-links a:hover {
  color: #eb4d4b;
}
#footer .credit {
  color: #fff;
  font-size: 2rem;
  padding-top: 1.5rem;
  width: 100%;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
}
#footer .credit span {
  color: #EB4D4B;
}

.fa-times {
  transform: translateX(27rem);
  padding-top: 1rem;
}

.up {
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 222222222;
  border-radius: 5px;
  opacity: 0;
}
.up i {
  padding-top: 0.8rem;
}

@media (max-width: 780px) {
  html {
    font-size: 55%;
  }
  .home-slider {
    padding-bottom: 4rem;
  }
  .home-slider .owl-dots {
    display: none;
  }
  .home-slider .slid {
    flex-flow: column-reverse;
  }
  .home-slider .slid .slid-contant {
    padding: 1rem;
    width: 100vw;
  }
  .home-slider .slid .imge img {
    width: 100vw;
  }
  #product .product-container .title {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 600px) {
  #offer .images, .offer .images {
    display: flex;
    width: 100%;
  }
  #offer .images .box, .offer .images .box {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #offer .images, .offer .images {
    display: flex;
    width: 100%;
  }
  #offer .images .box, .offer .images .box {
    width: 100%;
  }
  #review .heading, .review .heading {
    padding-top: 5rem;
  }
  #review .box-container .review-slider .box-item, .review .box-container .review-slider .box-item {
    position: relative;
  }
  #review .box-container .review-slider .box-item .image, .review .box-container .review-slider .box-item .image {
    position: absolute;
    bottom: 6rem;
    z-index: 555555555;
  }
  #review .box-container .review-slider .box-item .image img, .review .box-container .review-slider .box-item .image img {
    border-radius: 5rem;
  }
  #review .box-container .review-slider .box-item .comment, .review .box-container .review-slider .box-item .comment {
    border-radius: 2% 20% 2% 20%;
    height: 30rem;
    width: 35rem;
    transform: -50%;
  }
  #review .box-container .review-slider .box-item .comment h3, .review .box-container .review-slider .box-item .comment h3 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */